#app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 0;
  font-weight: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

* {
  scrollbar-width: thin;
}
